body {
  font-size: 18px;
  font-family: 'Public Sans',sans-serif;
}

* {
  margin: 0;
}

li {
  cursor: pointer;
}

li:hover {
  border-bottom: 1px solid black;
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}

.cov {
  position: fixed;
  width: 100%;
  z-index: 9999999999;
}

.navbar {
  height: 95px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
}

.div1 {
  width: 20%;
  background-color: white;
  position: relative;
}

.div2 {
  width: 50%;
  background-color: white;
}

.div3 {
  width: 30%;
  background-color: white;
}

.container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mockups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mockup-div {
  background-image: url("./Components/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999999;
}

.mockup-img {
  width: 90%;
  margin-top: -2em;
}

.intro-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 0 3.5em 0;
}

.intro-div .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head-text {
  font-size: 2rem;
  text-align: center;
  color: #2d314d;
  font-weight: 400;
  padding-top: 1em;
}

.intro-text-body {
  margin: 0 auto;
  font-size: 1rem;
  max-width: 80%;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  padding-top: 1em;
}

.req-btn {
  background: -webkit-gradient(linear, right top, left top, from(#2bb7da), to(#31d35c));
  background: linear-gradient(to left, #2bb7da, #31d35c);
  border: none;
  width: 50%;
  margin: 1em auto;
  border-radius: 1.8em;
  padding: 1em 2em;
  color: white;
  font-family: inherit;
  cursor: pointer;
}

.req-btn:hover {
  background: black;
}

.prop-section {
  background-color: #f3f4f6;
  padding: 1em 1em;
  z-index: -999999999;
}

.prop-section .prop-img {
  width: 25%;
  padding: 1.5em 0;
}

.prop-section .p-props {
  text-align: center;
  padding: 1.5em 0;
  font-weight: 400;
}

.prop-section h1 {
  text-align: center;
  padding: .5em 0;
  font-weight: 400;
  color: #2d314d;
}

.prop-section .props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-container {
  padding: 2em 2em 1em 2em;
  background: #2d314d;
}

.footer-container .easybank-logo {
  -webkit-filter: invert(100%) sepia(60%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
          filter: invert(100%) sepia(60%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
}

.footer-container .footer-li, .footer-container h6 {
  color: white;
  padding: .5em 0;
  font-weight: 300;
}

.footer-container .footer-col1 {
  padding: 1em 0;
}

.footer-container .social-logo {
  padding: 1.5em 0 .5em .8em;
}

.footer-container .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.footer-container .btn-resize {
  width: 70%;
  padding: 1em 1.5em;
  border-radius: 1.8em;
  color: white;
}

.footer-container h6 {
  min-width: 100%;
  font-weight: 300;
  text-align: center;
}

.footer-container .footer-col1, .footer-container .footer-col4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1em;
}

@media (min-width: 990px) {
  .mockups {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
  }
  .mockups .mockup-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    height: 100%;
    min-height: 414px;
    background-size: 200% 150%;
    background-clip: border-box;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url("./Components/images/bg-intro-desktop.svg");
  }
  .mockups .mockup-div .mockup-img {
    overflow-x: none;
    overflow-y: none;
    width: 40%;
    position: absolute;
    top: 5em;
    right: -4em;
    z-index: 99999999999;
  }
  .mockups .mockup-div .intro-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mockups .head-text {
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    max-width: 70%;
  }
  .mockups .intro-text-body {
    margin: 0;
    text-align: left;
    max-width: 100%;
    padding: 1em 0;
  }
  .mockups .req-btn {
    margin: 0;
    width: 45%;
  }
  .mockups .intro-div {
    width: 50%;
    padding: 7em 3em 4em 5em;
  }
  .prop-section {
    padding: 3em 5em;
    z-index: -999999;
  }
  .prop-section h1, .prop-section h3 {
    margin: 0;
    text-align: left;
  }
  .prop-section .sec-row-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .prop-section .props {
    width: 23%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .prop-section .p-props {
    text-align: left;
    line-height: 1.3em;
  }
  .prop-section .p-width-adjust {
    max-width: 70%;
    padding-top: .5em;
  }
  .prop-section .prop-img {
    width: 30%;
    padding: 1em 0 1.5em 0;
  }
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1.5fr 1fr 3fr;
        grid-template-columns: 1.5fr 1.5fr 1fr 3fr;
    background: #2d314d;
  }
  .footer-container .footer-col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em;
  }
  .footer-container .footer-col4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 1em 1.5em 1em 1em;
  }
  .footer-container .btn-resize {
    max-width: 50%;
    padding: 1em 1.5em;
    border-radius: 1.8em;
    margin: 0;
  }
  .footer-container .social-logo {
    padding: 1em 0 .5em .3em;
    cursor: pointer;
  }
  .footer-container .footer-nav ul {
    padding: 1em 0;
  }
  .footer-container h6 {
    text-align: right;
  }
}

.easylogo {
  margin-top: 40px;
  margin-left: 50%;
  position: absolute;
}

.lis {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 26%;
  margin-top: 3.9%;
}

.sub {
  padding: 14px;
  font-size: 13.8px;
  color: rgba(0, 0, 0, 0.342);
  font-family: sans-serif;
  font-weight: 550;
}

#menu {
  display: none;
  cursor: pointer;
}

#close {
  display: none;
  cursor: pointer;
}

.grad {
  height: 50px;
  width: 180px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 25px;
  line-height: 50px;
  color: rgba(255, 254, 253, 0.966);
  text-align: center;
  margin-top: 6%;
  margin-left: 42px;
  font-weight: 550;
  font-size: 13.8px;
}

#lis2 {
  display: none;
}

@media (max-width: 990px) {
  #menu {
    display: block;
    margin-top: 30px;
    margin-left: 50px;
  }
  .easylogo {
    margin-top: 26px;
  }
  .sub {
    display: none;
  }
  .grad {
    display: none;
    position: relative;
  }
  .navbar {
    height: 70px;
  }
  #dropd {
    width: 300px;
    height: 240px;
    background-color: white;
    border-radius: 6px;
    margin: auto;
    -webkit-box-shadow: 1px 1px 344px 7px #00051d;
            box-shadow: 1px 1px 344px 7px #00051d;
    margin-top: 20px;
  }
  #dropd ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  #lis2 {
    display: block;
    list-style: none;
    margin: auto;
    top: 10px;
  }
  .sub2 {
    margin-top: 18px;
    color: #2d314d;
  }
  #close {
    position: absolute;
    padding-left: 53px;
    padding-bottom: 30px;
    top: 29px;
    display: block;
  }
}

.arti {
  color: #2d314d;
  font-weight: 400;
  padding: 0 2.5em;
}

.h3-new-font {
  font-size: 1rem;
}

.card {
  max-width: 85%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 5%;
}

.cast {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fafafa;
  margin: auto;
  padding: 2.5em 1em;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

@media (max-width: 990px) {
  .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .arti {
    font-size: 170%;
    padding: 0;
    color: #2d314d;
    text-align: center;
  }
  .cast {
    padding: 4em 0 0 0;
  }
  .white {
    border-radius: 0 0 .5em .5em;
  }
}

.cards {
  height: 100%;
  padding: .4em;
  border-radius: 6.4px;
}

@media (max-width: 990px) {
  .cards {
    margin-bottom: 70px;
  }
  .parag {
    line-height: 6em;
    font-size: .8rem;
    font-weight: 300;
    width: 100%;
  }
}

#picture1 {
  height: 7.25em;
}

.white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.8em;
  background-color: white;
  border-bottom: 1em;
}

h3 {
  font-family: inherit;
  font-size: 100%;
  color: #2d314d;
  font-weight: 400;
}

p {
  font-size: 83%;
  color: rgba(0, 0, 0, 0.548);
  font-weight: 600;
}

.white {
  padding: 1em .7em 1em .7em;
  border-radius: 0 0 .5em .5em;
}

.image {
  min-height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.parag {
  line-height: 1.5em;
  font-size: .8rem;
  font-weight: 300;
  width: 100%;
}
/*# sourceMappingURL=App.css.map */