$darkblue:(hsl(233, 26%, 24%));
$brightcyan:hsl(192, 70%, 51%);
$limegreen:hsl(136, 65%, 51%);
$grayishblue:hsl(233, 8%, 62%);
$lightgrayishblue:hsl(220, 16%, 96%);
$verylightgray: hsl(0, 0%, 98%);
body{
   font-size:18px;
   font-family: 'Public Sans',sans-serif;
  }
*{
  margin: 0;
}
li{
  cursor: pointer;
}
li:hover{
  border-bottom: 1px solid black;
  transition: ease-in-out 2s;
}
.cov{
  position: fixed;
  width: 100%;
  z-index: 9999999999;
}
.navbar{
  height: 95px;
  width: 100%;
 
  display: flex;
  z-index: 99;
}
 .div1{
    width: 20%;
    
    background-color: white;
    position: relative;
 }
 .div2{
  width: 50%;
  background-color: white;
}
.div3{
  width: 30%;
  background-color: white;
display: flex;
justify-content: center;
align-items: center;
padding: .5em 0 .5em 2em;
button{
  height: 50%;
  width: 55%;
}
}
 .container{
   width: fit-content;
   overflow: hidden;
 }
 
 .mockups{
   display: flex;
   flex-direction: column;
 }
 .mockup-div{
   background-image: url('./Components/images/bg-intro-mobile.svg') ;
background-repeat: no-repeat;
background-size: cover;
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
z-index: 99999999;
  }
  .mockup-img{
    width: 90%;
    margin-top: -2em;
  }
  .intro-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 3.5em 0;
    .intro-content{
      display: flex;
      flex-direction: column;
    }
  }

.head-text{
  font-size: 2rem;
text-align: center;
color: $darkblue;
font-weight: 400;
padding-top: 1em;
max-width: 286px;
margin: 0 auto;
}
.intro-text-body{
  margin: 0 auto;
  font-size: 1rem;
max-width: 80%;
line-height: 1.5em;
text-align: center;
font-weight: 400;
padding-top: 1em;
}
.req-btn{
  background: linear-gradient(to left, $brightcyan, $limegreen);
  border: none;
  width: 50%;
  margin: 1em auto;
  border-radius:1.8em;
  padding: 1em 2em;
  color: white;
  font-family: inherit;
  cursor: pointer;
}
.req-btn:hover{
  background:black;
}
.prop-section{
  background-color: $lightgrayishblue;
padding: 1em 1em;
z-index: -999999999;
.prop-img{
  width: 25%;
  padding: 1.5em 0;
    }
    .p-props{
text-align: center;    
padding: 1.5em 0;
font-weight: 400;
}
h1{
  text-align: center;    
padding: .5em 0;
font-weight: 400;
color: $darkblue;
}
    .props{
display: flex;
flex-direction: column;
align-items: center;   
justify-content: center; }
}
.footer-nav ul{
  list-style: none;
  padding: 0;
  }
  .footer-container{
    padding: 2em 2em 1em 2em;
  background: $darkblue;

  .easybank-logo{
    filter: invert(100%) sepia(60%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
  }
  .footer-li, h6{
    color: white;
    padding: .5em 0;
    font-weight: 300;
  }
  .footer-col1{
padding: 1em 0;
}
.social-logo{
  padding: 1.5em 0 .5em .8em;
  }
  .footer-nav ul{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
}
.btn-resize{
  width: 70%;
  padding: 1em 1.5em;
  border-radius: 1.8em;
  color: white;
}

h6{
min-width: 100%; 
font-weight: 300;
text-align: center;
}
.footer-col1,.footer-col4{
  display: flex;
  flex-direction: column;
align-items: center;
  padding: 1em 1em;
  }

}
  
 @media(min-width:990px){
.mockups{
  flex-direction: row-reverse;
  position: relative;
  .mockup-div{
    display: flex;
    width: 60%;
    background-size:150% 110%;
    background-clip: border-box;
  justify-content: flex-end;

    background-image: url('./Components/images/bg-intro-desktop.svg') ;
  .mockup-img{
 width: 40%;
 position: absolute;
 top: 0em;
 right: -4em;
z-index: 99999999999;
object-fit: cover;
object-position: right;
  }
  .intro-content{
justify-content: space-between;
align-items:flex-start;
  }
  }
  .head-text{
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    max-width: 70%;
    margin: 0;
  }
  .intro-text-body{
margin: 0 ;
text-align: left;
max-width: 100%;
padding: 1em 0;
  }
  .req-btn{
margin: 0;
width: 45%;
  }
  .intro-div{
    width: 50%;
    padding: 7em 3em 4em 5em ;
  }
}
.prop-section{
  padding: 4em 5em;
  z-index: -999999;
  h1,h3{
    margin: 0;
    text-align: left;
  }
  .sec-row-div{
    display: flex;
    justify-content: space-between;
  }
  .props{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .p-props{
    text-align: left;
    line-height: 1.3em;
  }
  .p-width-adjust{
    max-width: 70%;
    padding-top: .5em;
  }
  .prop-img{
width: 30%;
padding: 1em 0 1.5em 0 ;
  }
}
.footer-container{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 3fr;
background: $darkblue;
.footer-col1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em;
  }
  .footer-col4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1em 1.5em 1em 1em;
}
.btn-resize{
  max-width: 50%;
  padding: 1em 1.5em;
  border-radius: 1.8em;
  margin: 0;
}
.social-logo{
  padding: 1em 0 .5em .3em;
  cursor: pointer;
  }
  .footer-nav ul{
    padding: 1em 0 ;
    }
  h6{
    text-align: right;
  }
}
 }
 .easylogo{
  margin-top: 40px;
  margin-left: 50%;
  position: absolute;
}
.lis{
  list-style: none;
  display: flex;
  margin-left: 26%;
  margin-top: 3.9%;
}
.sub{
  padding: 14px;
  font-size: 13.8px;
  color: rgba(0, 0, 0, 0.342);
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}
#menu{
  display: none;
  cursor: pointer;
}
#close{
  display: none;
  cursor: pointer;
}
.grad{
  height: 50px;
  width: 180px;
  background:linear-gradient( to right,$limegreen,$brightcyan);
  border-radius: 25px;
  line-height: 50px;
  color: rgba(255, 254, 253, 0.966);
  text-align: center;
  margin-top: 6%;
  margin-left: 42px;
  font-weight: 550;
  font-size: 13.8px;
}

#lis2{
  display: none;
}
@media(max-width:990px){
    #menu{
      display: block;
    }
    .easylogo{
      margin-top: 26px;
    }
    .sub{
      display: none;
    }
    .grad{
      display: none;
    }
    .nav-btn{
      display: none;
      position: relative;
    }
    .navbar{
      height:70px;
    }
    #dropd{
      width: 300px;
      height: 240px;
      background-color: rgb(255, 255, 255);
      border-radius: 6px;
      margin: auto;
      box-shadow: 1px 1px 344px 7px rgb(0, 5, 29);
      margin-top: 20px;
      ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
      }
    }
    #lis2{
      display: block;
      list-style: none;
      margin: auto;
      top: 10px;
    }
    .sub2{
      margin-top: 18px;
      color: $darkblue;
    }
    #close{
      position: absolute;
      padding-left: .7em;
      padding-bottom: 30px;
      top: 29px;
      display: block;
    }
}
.arti{
  color: $darkblue;
font-weight: 400;
padding: 0 2.5em;}
.h3-new-font{
font-size: 1rem;
}
.card{
  max-width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  margin-top: 5%;
}
.cast{
  width: fit-content;
  background-color:$verylightgray;
  margin: auto;
  padding: 2.5em 1em;
min-height: fit-content;
}
@media(max-width:990px){
  .card{
    grid-template-columns: 1fr;
  }
  .arti{
    font-size: 170%;
    padding: 0;
    color: $darkblue;
text-align: center;  }
  .cast{
    padding:4em 0 0 0;
  }
  .white{
border-radius: 0 0 .5em .5em;  }
}
.cards{
  height: 100%;
  padding: .4em ; 
  border-radius: 6.4px;
}
@media(max-width:990px){
  .cards{
    margin-bottom: 70px;
  }
  .parag{
    line-height: 6em;
    font-size: .8rem;
    font-weight: 300;
    width: 100%;
  }
}
 #picture1{
   height: 7.25em;
 }
.white{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.8em;
  background-color: white;
border-bottom: 1em;}
h3{
 
  font-family: inherit;
  font-size: 100%;
  color: $darkblue;
  font-weight: 400;
}
p{
  font-size: 83%;
  color: rgba(0, 0, 0, 0.548);
  font-weight: 600;
}
.white{
  padding: 1em .7em 1em .7em;
  border-radius: 0 0 .5em .5em;  
}
.image{
  min-height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.parag{
  line-height: 1.5em;
  font-size: .8rem;
  font-weight: 300;
  width: 100%;
}
